config.php
upload/*
upload_/*
cache/smarty/templates_c/*
*.log
*.log.save
data/
dictionary.php
differences
download.php
edi_export/*
emailmandelivery.php
examples/*
export.php
files.md5
get_url.php
ical_server.php
image.php
images/*
index.php
install.log
install.php
json.php
json_server.php
jssource/
leadCapture.php
log4php/*
log_file_restricted.html
maintenance.php
metadata/*
metagen.php
pdf.php
php_error_log
removeme.php
robots.txt
service/*
soap.php
soap/*
.htaccess
HandleAjaxCall.php
LICENSE.txt
ModuleInstall/
README.md
SugarSecurity.php
TreeData.php
WebToLeadCapture.php
XTemplate/
Zend/
acceptDecline.php
barcodes/
cache/
campaign_tracker.php
campaign_trackerv2.php
config_override.php
cron.php
crossdomain.xml
sugar_version.php
themes/
vCard.php
vcal_server.php

